services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: cms
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: iteh2026
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U app_user -d cms']
      interval: 5s
      timeout: 5s
      retries: 20

  backend:
    build:
      context: ./backend
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: '1'
      SECRET_KEY: 63f4945d921d599f27ae4fdf5bada3f1
      DATABASE_URL: postgresql+psycopg2://app_user:iteh2026@db:5432/cms
      CORS_ORIGINS: http://localhost:5173
      COOKIE_SECURE: '0'
      COOKIE_SAMESITE: Lax
      THEMEALDB_API_KEY: '1'
      LOCAL_OR_DOCKER: docker
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    environment:
      VITE_API_BASE_URL: http://localhost:5000
    depends_on:
      - backend
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  pgdata:
